<footer>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column align-items-center justify-content-center">
        <div class="footer_ender">
          <div>
            <img src="assets/logo.png" alt="">
          </div>
          <div>
            <p>Telefone: (31) 3454-9991</p>
            <p>Email: milton&#64;esquadraserralheria.com.br</p>
            <p>Endereço: Rua Joaquim Clemente, 452, Xodó Marize, Belo Horizonte</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3753.511027162458!2d-43.94551512388078!3d-19.81831893484225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6855c2913bf59%3A0x670cc17b442f730e!2sEsquadra%20Glassing%20-%20esquadrias%20de%20alum%C3%ADnio%20e%20vidro!5e0!3m2!1spt-BR!2sbr!4v1719883344380!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center">
        <div>
          <div>
            <h3>Mídias Sociais</h3>
          </div>
          <div class="social-media d-flex justify-content-around align-items-center">
            <a href="https://www.facebook.com/profile.php?id=61556988014201&locale=pt_BR"><img src="assets/facebook.png" alt="Facebook" /></a>
            <a href="https://www.instagram.com/esquadraglassing/"><img src="assets/instagram.png" alt="Instagram" /></a>
            <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5531987914004"><img src="assets/whatsapp.png" alt="WhatsApp" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rs-video whatsapp-fixed">
    <div class="animate-border">
      <a alt="Whatsapp" class="video-vemo-icon btn-whatsapp" aria-label="WhatsApp" href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5531987914004" target="_blank" rel="noopener noreferrer" onclick="gtag_report_conversion(undefined)"><i class="bi bi-whatsapp"></i>
        <div class="sm-red-dot"></div>
        <div id="quick-message" class="quick-message line-up">
          <p>Comece o contato por WhatsApp</p>
          <div class="seta-direita"></div>
        </div>
      </a>
    </div>
    <div id="hover-message" class="quick-message">
      <p>Comece o contato por WhatsApp</p>
      <div class="seta-direita"></div>
    </div>
  </div>
</footer>
<div class="container-fluid name_footer">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">© Desenvolvido por: Codes Devs Group</p>
    </div>
  </div>
</div>
