<footer>
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-sm-4 d-flex flex-column align-items-center justify-content-center">
        <div class="">
          <div class="">
            <img src="assets/logo.png" alt="">
          </div>
          <div>
            <p>Telefone: (31) 3333-3333</p>
            <p>Email: email&#64;email.com</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3753.511027162458!2d-43.94551512388078!3d-19.81831893484225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6855c2913bf59%3A0x670cc17b442f730e!2sEsquadra%20Glassing%20-%20esquadrias%20de%20alum%C3%ADnio%20e%20vidro!5e0!3m2!1spt-BR!2sbr!4v1719883344380!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
        <div>
          <div>
            <h3>Mídias Sociais</h3>
          </div>

          <div class="social-media d-flex justify-content-around">
            <a href="https://www.facebook.com/"><img src="assets/facebook.png" alt="Facebook" /></a>
            <a href="https://www.instagram.com/"><img src="assets/instagram.png" alt="Instagram" /></a>
           <a href="https://www.twitter.com/"><img src="assets/whatsapp.png" alt="WhatsApp" /></a>
          </div>

        </div>
      </div>
    </div>
</div>
</footer>

<div class="container-fluid name_footer">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">© Desenvolvido por: Codes Devs Group</p>
    </div>
  </div>
</div>
