#about{
  padding-top: 3rem;

  h2{
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
  }

  p{
    font-family: "Lato", sans-serif;
    color: var(--text-color);
    text-align: justify;
    font-size: 1.1rem;
  }

  .text_about_esquadra{
    padding: 2.5rem;
  }

}

#value{
  .custom-card {
    width: 20rem;
    height: 22rem;
    background-color: #002e61;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    .icon {
      background-color: white;
      padding: 15px;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 40px;
        height: 40px;
      }
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      margin-top: 15px;
    }
  }

}

#nova_secao {

  .text_about {
    padding: 20px;

    h2 {
      color: #0056b3;
      margin-bottom: 20px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      color: #6c757d;
      line-height: 1.6;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.container {
  .icon img {
    width: 50px;
    height: auto;
  }

  h3 {
    color: #0056b3;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    color: #6c757d;
  }
}
