<section id="about">

  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text-center text_about">
          <div>
            <h2>Um Pouco sobre a Esquadra</h2>
          </div>
          <div>

            <p>
              Somos a Esquadra Glassing, desde 1990 liderando o mercado, há mais de 34 anos com sede própria em Belo Horizonte,
              viemos conquistando com qualidade, determinação, respeito, a nossos clientes com o mercado de fabricação e instalação de esquadrias de alumínio e vidros temperados,
              com profissionais capacitados inovando constantemente.
              O nosso objetivo principal é levar solução e satisfação aos nossos clientes através de nossa competência, seriedade e pontualidade.
              Proporcionando às famílias brasileiras nas realizações de seus sonhos,
              com excelência através da nossa arte no perfil de esquadrias de alumínio, portas especiais, janelas semi acústica, esquadrias com comando Wi-Fi e vidros diversos.
            </p>

            <p>
              "Quando trabalhamos com dedicação e acreditamos que o nosso potencial, experiência, respeito e amor com oque fazemos,
              é a base para o sucesso garantido  e certamente será uma construção sólida."
            </p>

          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <img class="img-fluid" src="assets/team.webp" alt="">
      </div>

    </div>
  </div>



  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="">
          <div>
            <img class="img-fluid" src="assets/team.webp" alt="">
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text-center text_about">
          <div>
            <h2>SOBRE NÓS</h2>
          </div>

          <p>
            A Esquadra Glassing é referência no mercado de esquadrias de vidro,
            oferecendo soluções inovadoras e de alta qualidade para projetos residenciais e comerciais.
            Com uma equipe de profissionais altamente qualificados e comprometidos com a excelência,
            garantimos produtos que aliam design moderno, durabilidade e segurança.
            Nossa missão é transformar espaços, proporcionando conforto e elegância através de nossas esquadrias.
            Seja para portas, janelas, guarda-corpos ou fachadas,
            a Esquadra Glassing é a escolha certa para quem busca transparência e resistência em cada detalhe.
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text-center text_about">
          <div>
            <h2>SOBRE NÓS</h2>
          </div>
          <div>
            <p>
              A Esquadra Glassing é referência no mercado de esquadrias de vidro,
              oferecendo soluções inovadoras e de alta qualidade para projetos residenciais e comerciais.
              Com uma equipe de profissionais altamente qualificados e comprometidos com a excelência,
              garantimos produtos que aliam design moderno, durabilidade e segurança.
              Nossa missão é transformar espaços, proporcionando conforto e elegância através de nossas esquadrias.
              Seja para portas, janelas, guarda-corpos ou fachadas,
              a Esquadra Glassing é a escolha certa para quem busca transparência e resistência em cada detalhe.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <img class="img-fluid" src="assets/team.webp" alt="">
      </div>

    </div>
  </div>
</section>
