#about{
  padding-top: 3rem;

  h2{
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
  }

  p{
    font-family: "Lato", sans-serif;
    color: var(--text-color);
    text-align: justify;
    font-size: 1.1rem;
  }

  .text_about_esquadra{
    padding: 2.5rem;
  }

}

#alumin_line .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#alumin_line .card-content {
  flex-grow: 1; /* Faz com que o conteúdo acima do botão ocupe o espaço necessário */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Garante que o botão fique no final do card */
  padding: 20px;
}

#alumin_line .button {
  background-color: #b00000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  /*margin-top: auto; /* Para garantir que o botão fique fixo na parte inferior */
}

#alumin_line .button:hover {
  background-color: #900000;
}

#nova_secao {

  .text_about {
    padding: 20px;

    h2 {
      color: #0056b3;
      margin-bottom: 20px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      color: #6c757d;
      line-height: 1.6;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.container {
  .icon img {
    width: 50px;
    height: auto;
  }

  h3 {
    color: #0056b3;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    color: #6c757d;
  }
}
