<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text-center text_about">
          <div>
            <h2>SOBRE NÓS</h2>
          </div>
          <div>
            <p>
              A Esquadra Glassing é referência no mercado de esquadrias de vidro,
              oferecendo soluções inovadoras e de alta qualidade para projetos residenciais e comerciais.
              Com uma equipe de profissionais altamente qualificados e comprometidos com a excelência,
              garantimos produtos que aliam design moderno, durabilidade e segurança.
              Nossa missão é transformar espaços, proporcionando conforto e elegância através de nossas esquadrias.
              Seja para portas, janelas, guarda-corpos ou fachadas,
              a Esquadra Glassing é a escolha certa para quem busca transparência e resistência em cada detalhe.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <img class="img-fluid" src="assets/team.webp" alt="">
      </div>

    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="">
          <div>
            <img class="img-fluid" src="assets/team.webp" alt="">
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text-center text_about">
          <div>
            <h2>SOBRE NÓS</h2>
          </div>

          <p>
            A Esquadra Glassing é referência no mercado de esquadrias de vidro,
            oferecendo soluções inovadoras e de alta qualidade para projetos residenciais e comerciais.
            Com uma equipe de profissionais altamente qualificados e comprometidos com a excelência,
            garantimos produtos que aliam design moderno, durabilidade e segurança.
            Nossa missão é transformar espaços, proporcionando conforto e elegância através de nossas esquadrias.
            Seja para portas, janelas, guarda-corpos ou fachadas,
            a Esquadra Glassing é a escolha certa para quem busca transparência e resistência em cada detalhe.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text-center text_about">
          <div>
            <h2>SOBRE NÓS</h2>
          </div>
          <div>
            <p>
              A Esquadra Glassing é referência no mercado de esquadrias de vidro,
              oferecendo soluções inovadoras e de alta qualidade para projetos residenciais e comerciais.
              Com uma equipe de profissionais altamente qualificados e comprometidos com a excelência,
              garantimos produtos que aliam design moderno, durabilidade e segurança.
              Nossa missão é transformar espaços, proporcionando conforto e elegância através de nossas esquadrias.
              Seja para portas, janelas, guarda-corpos ou fachadas,
              a Esquadra Glassing é a escolha certa para quem busca transparência e resistência em cada detalhe.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <img class="img-fluid" src="assets/team.webp" alt="">
      </div>

    </div>
  </div>
</section>
