:root {
  --primary-color: #e53935;
  --secondary-color: #b71c1c;
  --tertiary-color: #fbc93c;
  --text-color: #5a5a5a;
  --text-color-2: #ffffff;
  --bg-color: #fbfbfb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0rem !important;
}

body{
  background-color: var(--bg-color) !important;
}

.custom_shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.custom_shadow_white {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
