$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

// Definir o mixin media-breakpoint-up
@mixin media-breakpoint-up($name) {
  @if map-has-key($breakpoints, $name) {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

#home {
  background-image: url("/assets/img_home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; // Ajustar para ocupar toda a altura da tela
  padding: 20vh;

  .custom_shadow {
    background: rgba(32, 32, 32, 0.44);
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color-2);
    text-align: center;
    font-size: 3rem;
  }

  p {
    font-family: "Lato", sans-serif;
    color: var(--text-color-2);
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2vh;
  }

  .home_text {
    .custom_shadow {
      width: 28rem;
      padding-block: 1rem;
      margin: 40px;
    }

    img {
      padding-bottom: 1.5rem;
    }
  }

  @media (max-width: 1200px) {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
    }

    .home_text .custom_shadow {
      width: 24rem;
    }
  }

  @media (max-width: 992px) {
    padding: 15vh;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.1rem;
    }

    .home_text .custom_shadow {
      width: 20rem;
    }
  }

  @media (max-width: 768px) {
    padding: 10vh;

    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }

    .home_text .custom_shadow {
      width: 18rem;
    }
  }

  @media (max-width: 576px) {
    padding: 5vh;

    h1 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.9rem;
    }

    .home_text .custom_shadow {
      width: 16rem;
    }
  }
}

#about {
  background-color: var(--bg-color);
  padding: 3rem 0;

  .text_about {
    padding-inline: 2.5rem;
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-family: "Lato", sans-serif;
    color: var(--text-color);
    text-align: justify;
    font-size: 1.3rem;
  }

  button {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    a:hover {
      color: var(--text-color-2);
      font-weight: bold;
      transition: 0.4s ease-in-out;
    }
  }

  @media (max-width: 1200px) {
    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.2rem;
    }

    .text_about {
      padding-inline: 2rem;
    }
  }

  @media (max-width: 992px) {
    h2 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.1rem;
    }

    .text_about {
      padding-inline: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
    }

    .text_about {
      padding-inline: 1rem;
    }
  }

  @media (max-width: 576px) {
    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }

    .text_about {
      padding-inline: 0.5rem;
    }
  }
}

#alumin_line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // Centraliza os cards horizontalmente

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    width: 250px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 15px;
    text-align: center;

    &:hover {
      box-shadow: 0 12px 20px rgba(251, 201, 60, 1.5);
      transition: 0.4s ease-in-out;
      transform: scale(1.07);

      p, h3 {
        text-shadow: 0 12px 20px rgba(251, 201, 60, 1.5);
        transition: 0.4s ease-in-out;
      }
    }
  }

  .card img {
    max-height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .card-title {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .card-text {
    font-family: "Lato", sans-serif;
    color: #000000;
    font-size: 1.2rem;
    flex-grow: 1;
    margin-bottom: 10px;
  }

  .button {
    background-color: #fbc93c;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    &:hover {
      background-color: #e0ac00;
      transition: 0.4s ease-in-out;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .card {
      width: 100%;
      max-width: 300px;
    }
  }
}

#cards {
  margin: 30px 0;
  .card {
    margin-bottom: 30px;
    height: 350px;
    width: 250px;
    padding: 8px;
    padding-block: 1rem;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      box-shadow: 0 12px 20px rgba(251, 201, 60, 1.5);
      transition: 0.4s ease-in-out;
      transform: scale(1.07);

      p, h3 {
        text-shadow: 0 12px 20px rgba(251, 201, 60, 1.5);
        transition: 0.4s ease-in-out;
      }
    }
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    text-align: center;
    font-size: 2rem;
  }

  p {
    font-family: "Lato", sans-serif;
    color: #000000;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
  }

  .btn {
    padding-block: 1.5rem;

    button {
      background-color: #fbc93c;
      color: #000000;
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      padding: 0.8rem 1rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 1rem;
    }

    button:hover {
      color: #000000;
      font-weight: bold;
      transition: 0.4s ease-in-out;
    }
  }
}

#call {
  background-color: var(--tertiary-color);
  padding-block: 50px;

  h3 {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;

    a {
      text-decoration: none;
      color: var(--text-color);
    }
  }

  @media (max-width: 1200px) {
    h3 {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 992px) {
    h3 {
      font-size: 1.6rem;
    }
  }

  @media (max-width: 768px) {
    h3 {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 576px) {
    h3 {
      font-size: 1.2rem;
    }
  }
}












