#home {
  background-image: url("/assets/img_home.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;

  .custom_shadow{
    background: rgba(32, 32, 32, 0.44);
  }
}
.home_text {
  h1{
    color: var(--text-color-2);
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20vh;
  }
  p{
    color: var(--text-color-2);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2vh;
  }
}

#cards{
  margin: 120px 0;
  .card{
    padding: 6px;
    margin-bottom: 30px;
    height: 350px;
    width: 250px;
  }
  .card_porta{
    background-image: url("");
  }
  .card_janela{
    background-image: url("");
  }
  .card_guarda_corpo{
    background-image: url("");
  }
  .card_fachadas{
    background-image: url("");
  }
  .card_toldos{
    background-image: url("");
  }
  .card_portoes{
    background-image: url("");
  }
  .card_corrimao{
    background-image: url("");
  }
  .card_fachadas{
    background-image: url("");
  }

}

#call{
  background-color: var(--tertiary-color);
  height: 240px;
  margin-bottom: 70px;
}

#client_opinion{
  margin-bottom: 50px;
}
#about{
  background-color: var(--bg-color);
  padding: 40px;
}
