<section id="home">
  <div class="container">
    <div class="row">
      <div class="home_text col-12 col-md-6 text-center">
        <div class="custom_shadow">
          <img src="/assets/logomarca.png" width="90" height="auto" alt="logomarca">
          <h1>ESQUADRA GLASSING</h1>
          <p>Transparência e Resistência em Cada Projeto</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">

      <div class="text-center">
        <h2>Nossa Empresa</h2>
      </div>

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">

        <div class="text-center text_about">
          <div>
            <p>
              A ESQUADRA GLASSING Iniciou suas atividades em Janeiro de 1990, presente no mercado há mais
              de 34 anos apresentamos nossa linha de produtos com qualidade, pontualidade, agilidade e respeito a
              nossos clientes, colaboradores, fornecedores, comunidade e meio ambiente.
              Trabalhamos com o mercado de fabricação, instalação e manutenção de esquadrias de alumínio e vidros,
              com profissionais treinados, dedicados, capacitados e atualizados buscando sempre alternativas para
              inovar constantemente, e diminuir os impactos ambientais com técnicas de desperdiço zero, reciclagem
              e reutilização.
              O nosso objetivo principal é levar soluções para modernização, sofisticação, beleza, segurança e
              satisfação aos nossos clientes através de nossa competência, qualidade, seriedade e pontualidade.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
        <img class="img-fluid" src="assets/team.webp" alt="">
      </div>

    </div>

    <div class="container pt-5 ">
      <div class="text-center button_about">
        <button>
          <a href="./about">Conheça um  pouco mais nossa historia</a>
        </button>

      </div>
    </div>

  </div>
</section>

<section id="alumin_line">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 text-center">
        <h2>Linhas de alumínio que trabalhamos</h2>
      </div>

      <div class="d-flex flex-wrap justify-content-between">
        <div class="card col-12 col-sm-4 col-md-3 text-center m-2">
          <img class="img_card_about" src="assets/galeria/Janelas/janela_1.webp" height="300" alt="Esquadrias Linha Suprema">
          <div class="card-content">
            <div class="card-title">Esquadrias Linha Suprema</div>
            <div class="card-text">
              As esquadrias linha suprema oferecem ótimo custo x benefício aos consumidores.
              Considerada de médio padrão, o modelo pode ser utilizado em projetos corporativos ou residenciais.
            </div>
            <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5531987914062" class="button">ORÇAMENTO</a>
          </div>
        </div>

        <div class="card col-12 col-sm-4 col-md-3 text-center m-2">
          <img class="img_card_about" src="assets/linha_gold.jpeg" height="300" alt="Esquadrias Linha Gold">
          <div class="card-content">
            <div class="card-title">Esquadrias Linha Gold</div>
            <div class="card-text">
              As esquadrias linha suprema oferecem ótimo custo x benefício aos consumidores.
              Considerada de médio padrão, o modelo pode ser utilizado em projetos corporativos ou residenciais.
            </div>
            <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5531987914062" class="button">ORÇAMENTO</a>
          </div>
        </div>

        <div class="card col-12 col-sm-4 col-md-3 text-center m-2">
          <img class="img_card_about" src="assets/galeria/Portas/porta_20.webp" height="300" alt="Esquadrias Linha Suprema">
          <div class="card-content">
            <div class="card-title">Esquadrias Linha Sob Encomenda</div>
            <div class="card-text">
              As esquadrias linha suprema oferecem ótimo custo x benefício aos consumidores.
              Considerada de médio padrão, o modelo pode ser utilizado em projetos corporativos ou residenciais.
            </div>
            <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5531987914062" class="button">ORÇAMENTO</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="value" class="py-5">
  <div class="container">
    <div class="row text-center">
      <div class=" col-12 col-md-4">
        <div class="card custom-card">
          <div class="icon mx-auto mb-3">
            <img src="/assets/icons/icon_missao.png" alt="Ícone Missão">
          </div>
          <h2 class="text-warning">Missão</h2>
          <p>Fiscalizar e regulamentar a atividade defendendo a sociedade do exercício ilegal e das condutas que violam à técnica e à ética profissional.</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card custom-card">
          <div class="icon mx-auto mb-3">
            <img src="/assets/icons/icon_visao.png" alt="Ícone Visão">
          </div>
          <h2 class="text-warning">Visão</h2>
          <p>Ser uma instituição que promova o aprimoramento dos serviços, dialogue com a sociedade e seja reconhecida como Conselho de Fiscalização Profissional na disciplina, orientação e regulamentação da atividade.</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card custom-card">
          <div class="icon mx-auto mb-3">
            <img src="/assets/icons/icon_valores.png" alt="Ícone Valores">
          </div>
          <h2 class="text-warning">Valores</h2>
          <p>Ética e responsabilidade; Transparência e diálogo; Comprometimento e efetividade; Profissionalismo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="cards" >

  <div class="container">
    <div class="row">

        <div class="col-12">
          <div class="text-center pb-5 card_title">
            <h2>Conheca nossos Produtos</h2>
          </div>
        </div>

      <div class="col-12 col-md-6 col-lg-3 justify-content-center d-flex text-center ">
        <a class="nav-link" routerLink="/products">
          <div class="card  card_porta d-flex flex-column text-center">

            <div>
              <img src="/assets/icons/icon_porta.png" alt="Icone de porta">
            </div>
            <div>
              <p>
                Portas de vidro que combinam elegância e segurança para qualquer ambiente.
              </p>
            </div>
            <div class="mt-auto card_text">
                <h3>Portas</h3>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <a class="nav-link" routerLink="/products">
          <div class="card card_janela d-flex flex-column text-center">

            <div>
              <img src="/assets/icons/icon_janela.png" alt="Icone de porta">
            </div>

            <div>
              <p>
                Janelas de vidro que oferecem luminosidade e segurança para seu lar.
              </p>
            </div>

            <div class="mt-auto">

                <h3>Janelas</h3>

            </div>

          </div>
        </a>
      </div>


      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <a class="nav-link" routerLink="/products">
          <div class="card card_guarda_corpo d-flex flex-column text-center">

            <div>
              <img src="/assets/icons/icon_guarda_corpo.png" alt="Icone de porta">
            </div>

            <div>
              <p>
                Guarda-corpos de vidro que garantem segurança e estilo para seu ambiente.
              </p>
            </div>

            <div class="mt-auto">
                <h3>Guarda-Corpo</h3>
            </div>

          </div>
        </a>
      </div>


      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <a class="nav-link" routerLink="/products">
          <div class="card card_fachadas d-flex flex-column text-center">
            <div>
              <img src="/assets/icons/icon_fachada.png" alt="Icone de porta">
            </div>

            <div>
              <p>
                Fachadas de vidro que proporcionam modernidade e sofisticação ao seu projeto.
              </p>
            </div>

            <div class="mt-auto">
                <h3>Fachadas</h3>
            </div>

          </div>
        </a>
      </div>

      <div class="col-12 text-center">
        <div class="text-center btn">
          <button  routerLink="/products">Conheça nosso portfólio</button>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="call">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 ">
        <div class="text-center">
          <img src="assets/img_call.jpg" width="450" height="auto" alt=""  >
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h3><a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5531987914062">Entre em contato conosco e faca sua cotação</a></h3>
        </div>
      </div>

    </div>
  </div>
</section>


<app-carousel />
