<section id="home">
  <div class="container">
    <div class="row">
      <div class="home_text col-12 col-md-6 text-center">
        <div class="custom_shadow">
          <img src="/assets/logomarca.png" width="90" height="auto" alt="logomarca">
          <h1>ESQUADRA GLASSING</h1>
          <p>Transparência e Resistência em Cada Projeto</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">

      <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
        <div class="text-center text_about">
          <div>
            <h2>SOBRE NÓS</h2>
          </div>
          <div>
            <p>
              A Esquadra Glassing é referência no mercado de esquadrias de vidro,
              oferecendo soluções inovadoras e de alta qualidade para projetos residenciais e comerciais.
              Com uma equipe de profissionais altamente qualificados e comprometidos com a excelência,
              garantimos produtos que aliam design moderno, durabilidade e segurança.
              Nossa missão é transformar espaços, proporcionando conforto e elegância através de nossas esquadrias.
              Seja para portas, janelas, guarda-corpos ou fachadas,
              a Esquadra Glassing é a escolha certa para quem busca transparência e resistência em cada detalhe.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6">
        <img class="img-fluid" src="assets/team.webp" alt="">
      </div>

    </div>

    <div class="container mt-5 ">
      <div class="text-center button_about">
          <a href=""><h3>Conheça um  pouco mais nossa historia</h3></a>
      </div>
    </div>

  </div>
</section>

<section id="cards" >

  <div class="container">
    <div class="row">

        <div class="col-12">
          <div class="text-center pb-5 card_title">
            <h3>Conheca nossos Produtos</h3>
          </div>
        </div>

      <div class="col-12 col-md-6 col-lg-3 justify-content-center d-flex text-center ">
        <div class="card  card_porta custom_shadow d-flex flex-column text-center">

          <div>
            <img src="/assets/icons/icon_porta.png" alt="Icone de porta">
          </div>

          <div>
            <p>
              lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>

          <div class="mt-auto card_text">
            <a class="nav-link" routerLink="/products#portas">
              <h3>Portas</h3>
            </a>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card card_janela custom_shadow d-flex flex-column text-center">

          <div>
            <img src="/assets/icons/icon_janela.png" alt="Icone de porta">
          </div>

          <div>
            <p>
              lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>

          <div class="mt-auto">
            <a class="nav-link" routerLink="/products#janelas">
              <h3>Janelas</h3>
            </a>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card card_guarda_corpo custom_shadow d-flex flex-column text-center">

          <div>
            <img src="/assets/icons/icon_guarda_corpo.png" alt="Icone de porta">
          </div>

          <div>
            <p>
              lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>

          <div class="mt-auto">
            <a class="nav-link" routerLink="/products#guardacorpo">
              <h3>Guarda-Corpo</h3>
            </a>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card card_fachadas custom_shadow d-flex flex-column text-center">
          <div>
            <img src="/assets/icons/icon_fachada.png" alt="Icone de porta">
          </div>

          <div>
            <p>
              lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </div>

          <div class="mt-auto">
            <a class="nav-link" routerLink="/products#fachadas">
              <h3>Fachadas</h3>
            </a>
          </div>

        </div>
      </div>

      <div class="col-12 text-center">
        <div class="text-center btn">
          <button  routerLink="/products">Conheça nosso portfólio completo</button>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="call">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 ">
        <div class="text-center">
          <img src="assets/img_call.jpg" width="450" height="auto" alt=""  >
        </div>
      </div>

      <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h3>FAÇA SEU ORÇAMENTO</h3>
          <p>lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href=""><img src="/assets/icon_whats.svg" width="64" alt=""></a>
        </div>
      </div>

    </div>
  </div>
</section>

<app-carousel />
