<section id="home">
  <div class="container">
    <div class="row">
      <div class="home_text col-12 col-md-6">
        <div class="custom_shadow">
          <h1>ESQUADRA GLASSING</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tellus vulputate, hendrerit ex vitae, pharetra turpis. Donec sem mauris, tristique a mauris a, iaculis scelerisque felis. Proin nec imperdiet metus. Integer nibh ante, semper ac justo a, varius maximus ligula. Aenean consectetur elit vel libero vulputate placerat. Fusce egestas tincidunt metus, at imperdiet est. Nulla ut fermentum sem.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="cards" >
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card custom_shadow">
          <h3>Portas</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card custom_shadow">
          <h3>Janelas</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card custom_shadow">
          <h3>Guarda Corpo</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card custom_shadow">
          <h3>Fachadas</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card custom_shadow">
          <h3>Toldos</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card custom_shadow">
          <h3>Portões</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card custom_shadow">
          <h3>Corrimão</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 d-flex text-center justify-content-center">
        <div class="card custom_shadow">
          <h3>Fachadas</h3>
          <p>
            lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="call">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-5 text-center">
          <img src="assets/img_call.jpg" height="240" alt=""  >
      </div>

      <div class="col-12 col-sm-3 d-flex align-items-center text-center">
        <div>
          <h3>FAÇA SEU ORÇAMENTO</h3>
          <p>lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>

      <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center">
        <div>
          <button>whatsapp</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="client_opinion">
    <div class="container">
        <div class="row">

          <div class="col-12 col-sm-4">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
          </div>

          <div class="col-12 col-sm-4">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
          </div>

          <div class="col-12 col-sm-4">
            <img src="" alt="">
            <img src="" alt="">
            <p></p>
          </div>

        </div>
    </div>
</section>
